/compiled/
/tmp/
/Latex Vorlage HAK Imst.lol

*.log
Latex Vorlage HAK Imst.pdf
inp_titlepage_hak.aux
Latex Vorlage HAK Imst.synctex.gz
Latex Vorlage HAK Imst.synctex.gz
Latex Vorlage HAK Imst.synctex.gz
Diagramm.PNG
Latex Vorlage HAK Imst.synctex.gz
Latex Vorlage HAK Imst.synctex.gz